<!DOCTYPE html>
<html>
<head>
    <title>Employees</title>
</head>
<body>
    <h1>Employees</h1>
    <form action="/users/new" method="get">
        <button type="submit">Register</button>
    </form>
    <ul>
        <% employees.forEach(employee => { %>
            <li>name: <%= employee.name %></li>
            <li>username: <%= employee.username %></li>
            <li>email: <%= employee.email %></li>
            <hr>
        <% }); %>
    </ul>
</body>
</html>